{% extends 'base.html' %}
{% load tz %}

{% block content %}
<div class="mui-panel">
    <div class="mui-container-fluid">
        <div class="mui-row">
            <div class="mui-col-md-8">
            <h1>
            {% block title %}
                {{pages.title}}
            {% endblock %}
            </h1>
            {{ pages.page_content | safe}}

            </div>

            <div class="mui-col-md-4">
                <h2>Recently Added Games</h2>
            </div>

        </div>
    </div>
</div>
{% endblock %}